/* src/app/globals.css */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
