@import "tailwindcss";

:root {
  --background: #0f172a; /* slate-950 */
  --foreground: #f1f5f9; /* slate-100 */
}

html, body {
  @apply min-h-screen bg-[var(--background)] text-[var(--foreground)] m-0 p-0;
}
